{# templates/temperature/_modalDetail.html.twig #}
<div class="modal fade" id="modalDetalhe" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title me-auto">{{ 'label.detail'|trans({},'label') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'label.close'|trans({},'label') }}"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-border">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle;"><i class="bi bi-asterisk"></i> {{ 'weather condition'|trans({}, 'label') }}</td>
                            <td class="text-end" id="modalWeatherCondition" style="vertical-align: middle;"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-geo"></i> {{ 'City'|trans({}, 'label') }}</td>
                            <td class="text-end" id="modalCity"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-calendar"></i> {{ 'Date'|trans({}, 'label') }}</td>
                            <td class="text-end" id="modalDateTime"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-thermometer-half"></i> {{ 'ambiente'|trans({}, 'label') }}</td>
                            <td class="text-end" id="modalAmbiente"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-thermometer-half"></i> {{ 'temperature'|trans({}, 'label') }}</td>
                            <td class="text-end" id="modalTemperature"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-thermometer-half"></i> {{ 'sensation'|trans({}, 'label') }}</td>
                            <td class="text-end" id="modalSensation"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-cpu"></i> CPU: </td>
                            <td class="text-end" id="modalCpu"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-gpu-card"></i> GPU: </td>
                            <td class="text-end" id="modalGpu"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-moisture"></i> {{ 'humidity'|trans({}, 'label') }}: </td>
                            <td class="text-end" id="modalHumidity"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-tornado"></i> {{ 'pressure'|trans({}, 'label') }}: </td>
                            <td class="text-end" id="modalPressure"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-wind"></i> {{ 'wind velocity'|trans({}, 'label') }}: </td>
                            <td class="text-end" id="modalWindVelocity"></td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-compass"></i> {{ 'wind direction'|trans({}, 'label') }}: </td>
                            <td class="text-end" id="modalWindDirection"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div
</div>
