{# templates/temperature/index.html.twig #}
{% extends "base.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ days|default(1) }} {{ 'day'|trans({},'label') }}</li>
{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <h1 class="h5 card-title border-bottom pb-2"><i class="bi bi-graph-up"></i> Gráfico</h1>
            <div class="chart-container w-100" style="position: relative; height:65vh; width:100vw">
                <canvas id="temperature"></canvas>
            </div>
        </div>
    </div>
    {% include 'temperature/_modalDetail.html.twig' %}
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}

    <script src="{{ asset('chartjs/chart.umd.js') }}"></script>
    <script src="{{ asset('js/temperature/index.js') }}"></script>
    <script>
        const LOCALE = '{{ app.request.locale|replace({'_':'-'}) }}';
        const URL_JSON_DAYS = "{{ url('app_temperature_json_days') }}";
        const URL_JSON_DETAIL = "{{ url('app_temperature_json_detail') }}";
        const URL_JSON_LAST_TEMPERATURE = "{{ url('app_temperature_json_last_temperature') }}";
        
        graphicShow({{ days }});
        
        updateLastTemperature();
        
        setInterval(function(){
            graphicShow({{ days }});
            updateLastTemperature();
        },300000);
    </script>
{% endblock %}