{# templates/_menu.html.twig #}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="ms-auto navbar-nav">
        <li class="nav-item">
            <a href="{{ path('app_temperature_days', {"days": 1}) }}" data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 1 %} active{% endif %}">1 {{ 'day'|trans({},'label') }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_temperature_days', {"days": 2}) }}" data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 2 %} active{% endif %}">2 {{ 'days'|trans({},'label') }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_temperature_days', {"days": 3}) }}" data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 3 %} active{% endif %}">3 {{ 'days'|trans({},'label') }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_temperature_days', {"days": 7}) }}" data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 7 %} active{% endif %}">7 {{ 'days'|trans({},'label') }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_temperature_days', {"days": 30}) }}" data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 30 %} active{% endif %}">30 {{ 'days'|trans({},'label') }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_temperature_days', {"days": 365}) }}" data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 365 %} active{% endif %}">365 {{ 'days'|trans({},'label') }}</a>
        </li>
    </ul>
</div>