{# templates/_menu.html.twig #}
<div class="container-fluid">
    <a class="navbar-brand" href="{{ path("app_index") }}"><small id="temp-thermometer"></small>&nbsp;<i id="icon-thermometer" class="bi bi-thermometer-half"></i> {% trans %}Temperature{% endtrans %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="ms-auto navbar-nav">
            <li class="nav-item">
                <a href="{{ path('app_temperature_days', {"days": 1}) }}" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 1 %} active{% endif %}">1 dia</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_temperature_days', {"days": 2}) }}" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 2 %} active{% endif %}">2 dias</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_temperature_days', {"days": 3}) }}" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 3 %} active{% endif %}">3 dias</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_temperature_days', {"days": 7}) }}" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 7 %} active{% endif %}">7 dias</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_temperature_days', {"days": 30}) }}" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 30 %} active{% endif %}">30 dias</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_temperature_days', {"days": 365}) }}" class="nav-link{% if app.request.get('_route') starts with 'app_temperature_days' and app.request.get('days') == 365 %} active{% endif %}">365 dias</a>
            </li>
        </ul>
    </div>
</div>