{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% trans %}Temperature{% endtrans %}{% endblock %}</title>

        <link href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}" rel="stylesheet">
        <link href="{{ asset('font/bootstrap-icons.min.css', 'bootstrap-icon') }}" rel="stylesheet">        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% include '_menu.html.twig' %}
        </nav>
        {% block modal %}{% endblock %}
        <div class="content container-fluid">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('jquery-3.6.4.min.js', 'jquery') }}"></script>
        <script src="{{ asset('loadingoverlay.min.js', 'jquery-loading-overlay') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js', 'bootstrap') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
