{# templates/cityConfiguration/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: {{ 'City'|trans({}, 'label') }}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_city_configuration_index') }}">
    <div class="card">
        <div class="card-header">
            <h1 class="h4 my-0">{{ 'City'|trans({}, 'label') }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <select class="select-country form-select" id="coutries" name="country" required>
                        <option {% if not city %}selected{% endif %}>{{ 'Select country abbreviation'|trans({}, 'label') }}</option>
                        {% for c in countries %}
                            <option value="{{ c }}" {% if c == city.country %}selected{% endif %}>{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-lg-4">
                    <select class="select-state form-select" id="states" name="state" required>
                        {% if city %}
                            <option>{{ 'Select state abbreviation'|trans({}, 'label') }}</option>
                        {% endif %}

                        {% for s in states %}
                            <option value="{{ s }}" {% if s == city.state %}selected{% endif %}>{{ s }}</option>
                        {% else %}
                            <option selected>{{ 'Select country abbreviation'|trans({}, 'label') }}</option>
                        {% endfor %}                        
                    </select>
                </div>
                <div class="col-12 col-lg-4">
                    <select class="select-city form-select" id="cities" name="city" required>
                        {% if city %}
                            <option>{{ 'Select city'|trans({}, 'label') }}</option>
                        {% endif %}

                        {% for c in cities %}
                            <option value="{{ c.id }}" {% if c.id == city.id %}selected{% endif %}>{{ c.name }}</option>
                        {% else %}
                            <option selected>{{ 'Select country abbreviation'|trans({}, 'label') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer bg-primary-subtle bg-gradient text-end">
            <button type="submit" class="btn btn-primary bg-gradient btn-sm">{{ 'btn.save'|trans({}, 'label') }}</button>
            <button type="reset" class="btn btn-secondary bg-gradient btn-sm">{{ 'btn.reset'|trans({}, 'label') }}</button>
        </div>
    </div>
    </form>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}

    <script>
        function state(country) {
            if (null != country){
                $.post(BASE_URL + "/cityConfiguration/state_json", {countryAbbreviation: country})
                        .done(function(data){
                            let message = data.message;
                            let states = data.states;
                            
                            if ('success' === message) {
                                $('select.select-state option:selected').text("{{ 'Select state abbreviation'|trans({}, 'label') }}");
                                $('select.select-city option:selected').text("{{ 'Select state abbreviation'|trans({}, 'label') }}");
                                
                                $.each(states, function(index, value){
                                    let option = new Option(value, value);
                                    $('select.select-state').append($(option));
                                });
                            }
                        })
                ;
            }
        }
        
        function city(state){
            if (null != state){
                $.post(BASE_URL + "/cityConfiguration/city_json", {stateAbbreviation: state})
                        .done(function(data){
                            let message = data.message;
                            let cities = data.cities;
                            
                            if ('success' === message) {
                                $('select.select-city option:selected').text("{{ 'Select city'|trans({}, 'label') }}");
                                
                                $.each(cities, function(index, value){
                                    let option = new Option(value.name, value.id);
                                    $('select.select-city').append($(option));
                                });
                            }
                        })
                ;
            }
        }
        
        $('select.select-country').on('change', function(){
            let country = $(this).val();
            state(country);
        });

        $('select.select-state').on('change', function(){
            let state = $(this).val();
            city(state);
        });
    </script>
{% endblock %}